body {
	margin: 30px;
	margin-top: 0px;
}

.recherche {
	padding-bottom: 3px;
}

.conteneur-boutons-vs {	
    z-index: 999;
}

.formulaire-recherche-champ {
	float: none;
}

.pagination {
	margin-top: 0;
	margin-bottom: 0;
}

.pagination-total {
	padding-bottom: 3px;	
}

.pagination-taille-page {
    display: inline-block;
    margin: 20px 0 0 15px;
    position: relative;
    top: -12px;
}

.pagination-taille-page select {
	display: inline-block;
	width: 50px;
	padding: 0;
}

.titre-section {
    font-size: 26px;
    margin-left: 15px;
    margin-top: 5px;
    display: inline-block;
}

.contenu_editable {
	background-color: #F8FBF2;
	border: dashed 1px #AAAAAA;
	padding: 5px;
	padding-top: 2px;
	border-radius: 3px;
}

.editable_sur_clic {
	min-height: 50px;
}

.champ_edition_wiki {
	width: 100%;
	overflow: auto;
}

#fiches-existantes {
	margin-top: 0px;
}

#fiches-existantes input {
	margin-top: 0px;
}

#fiches-existantes label {
	margin-top: 8px;
}

.fiche-existante {
	background-color : #DBF4C1 !important;
}

.fiche-nt-inexistant {
	background-color : #FD8C13 !important;
}

.liste-favoris {
   padding: 1px 10px 0;
}

.fiche-favorite {	
	color: #FFD700;
}

.bouton-ajout-sentier {
	margin-left : 0px;
    position: relative;
    right: 26px;
    top: 2px;
}

.bouton-suppression-sentier {
	position: relative;	
	float: right;
	z-index: 999;
}

.bouton-suppression-sentier .btn-default {
	color: red;
}

.liste-fiches-sentier {
    margin: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sentier-aucune-fiche {
    position: relative;
    top: 6px;
}

.zone-drop-fiches-sentier {
	border: 2px dashed #999;	
	text-align: center;
}

.titre-sentier {
	display: inline;
}

.table-fiches-sentier {
    position: relative;
    right: 10px;
    top: 15px;
}

.boite-utilisateur {
	float: right;
	display: block;
	top: 15px;
	height: 132px;
}

#boite-infos-utilisateur {
	position: relative;
    top: 15px;
}

.bouton-inscription {
	float: right;
}

.message-erreur-connexion {
	display: inline-block;
	margin-top: 3px;
	color: red;
}

#masque-chargement {
    font-size: 30px;
    margin: auto;
    width: 250px;
}

.chargement-icone {
	margin-right: 15px;
}

.nettoyage {
	clear:both;
	visibility: hidden;
}

.element-draggable { 
    opacity: 0.9;
    background-color: #C2C0AD;
}

.element-droppable {
    background-color: #9AC343; 
}

.bouton-afficher-cacher {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
}

*[slide-toggle] {
	cursor: pointer;
}

.colonne-collapser {
	float: left;
	margin-right: 10px;
}

.colonnes-collapsed td, .colonnes-collapsed th {
	display: table-cell;
}

.colonnes-collapsed td.colonne-collapsible, .colonnes-collapsed th.colonne-collapsible {
	display: none;
}

.colonne-actions-fiche {
	width: 160px;
}