body {
	margin: 30px;
	margin-top: 0px;
}

#logo-tb {
	height: 105px;
	float: left;
}

.nom-application {
	margin-left: 180px;
	padding-top: 35px;
	font-size: 45px;
}

.recherche {
	padding-bottom: 3px;
}

.conteneur-boutons-vs {
    z-index: 999;
	margin-left: 15px;
}

.formulaire-recherche-champ {
	float: none;
}

.lien-fiche-eflore, .lien-fiche-eflore:hover, .lien-fiche-eflore:active, .lien-fiche-eflore:visited {
	color: #48992D;
}

.bloc-liste {
	margin-top: 20px;
}

.pagination {
	margin-top: 0;
	margin-bottom: 0;
}

.pagination-total {
	padding-bottom: 3px;
}

.pagination-taille-page {
    display: inline-block;
    margin: 20px 0 0 15px;
    position: relative;
    top: -12px;
}

.pagination-taille-page select {
	display: inline-block;
	width: 50px;
	padding: 0;
}

.marge-gauche-15 {
	margin-left: 15px;
}

.liste-fiches-generale {
	margin-left: 15px;
}

.titre-section {
    font-size: 26px;
    /*margin-left: 15px;*/
    margin-top: 5px;
    display: inline-block;
}

.contenu_editable {
	background-color: #F8FBF2;
	border: dashed 1px #AAAAAA;
	padding: 5px;
	padding-top: 2px;
	border-radius: 3px;
}

.editable_sur_clic {
	min-height: 50px;
}

.champ_edition_wiki {
	width: 100%;
	overflow: auto;
}

#fiches-existantes {
	margin-top: 0px;
}

#fiches-existantes input {
	margin-top: 0px;
}

#fiches-existantes label {
	margin-top: 8px;
}

.fiche-existante {
	background-color : #DBF4C1 !important;
}

.fiche-nt-inexistant {
	background-color : #FD8C13 !important;
}

.fiche-favorite {
	color: #FFD700;
}

.selecteur-sentier {
	padding-left: 0;
	margin-left: -15px; /* bricolage dégueu */
}

.sentier-aucune-fiche {
	padding-left: 0;
	margin-left: -15px; /* bricolage dégueu */
}

.bouton-ajout-sentier,
.bouton-export-sentiers {
	margin-left : 0px;
    right: 26px;
    top: 2px;
}

.bouton-suppression-sentier,
.bouton-export-sentier,
#bouton-localiser-sentier,
#bouton-valider-sentier,
#bouton-invalider-sentier,
#bouton-meta-sentier {
	float: right;
	z-index: 999;
	margin-right: 5px;
}

.bouton-export-sentier a {
    padding: 7px 12px;
}

.bouton-suppression-sentier .btn-default {
	color: red;
}

.zone-drop-fiches-sentier {
	border: 2px dashed #999;
	text-align: center;
}

.titre-sentier {
	display: inline;
}

.table-fiches-sentier table {
	margin-top: 10px;
}

.boite-utilisateur {
	float: right;
	display: block;
	top: 15px;
	/*height: 132px;*/
}

#boite-infos-utilisateur {
	position: relative;
    top: 15px;
}

.bouton-inscription {
	float: right;
}

.message-erreur-connexion {
	display: inline-block;
	margin-top: 3px;
	color: red;
}

.masque-chargement {
    font-size: 30px;
    margin: auto;
    width: 250px;
}

.chargement-icone {
	margin-right: 15px;
}

.nettoyage {
	clear:both;
	visibility: hidden;
}

.element-draggable {
    opacity: 0.9;
    background-color: #C2C0AD;
}

.element-droppable {
    background-color: #9AC343;
}

.bouton-afficher-cacher {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
}

*[slide-toggle] {
	cursor: pointer;
}

.colonne-collapser {
	float: left;
	margin-right: 10px;
}

.colonnes-collapsed td, .colonnes-collapsed th {
	display: table-cell;
}

.colonnes-collapsed td.colonne-collapsible, .colonnes-collapsed th.colonne-collapsible {
	display: none;
}

.colonne-actions-fiche {
	width: 200px;
}

.contenu_editable .champ_edition_wiki {
	white-space: pre-line;
}

/* localisation */
#modalet > .modal-dialog {
	width: 90%;
	height: 90%;
}

#choix-adresses {
	padding-right: 15px;
	flex: 1;
}

.leaflet-flex {
	flex: 3;
}

#liste-individus {
	padding-left: 15px;
	flex: 1;
	height: 480px;
	overflow: auto;
}

/* leaflet-directive hack pour cacher l'inutile choix de layer */
.leaflet-control-layers.leaflet-control {
	display: none;
}

.logos-partenaires {
	margin-top: 20px;
	margin-left: 15px;
}

.logos-partenaires img {
	height: 100px;
	margin-left: 15px;
}

/* Trivia */
.inline-block {
	display: inline-block;
}

.flex-container {
	display: flex;
}

/* TBisation du thème Bootstrap par défaut - à génériciser quelque part et
	choisir de meilleures couleurs */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	background-color: #48992d;
    border-color: #48992d;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
	background-color: #48992d;
}

.pagination > li > a,
.pagination > li > span {
	color: #48992d;
}
