@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Muli:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

html {
    zoom: 0.68; /*workaround for phantomJS2 rendering pages too large*/
}

body {
	margin: 0;
	width: 2481px;
	height: 1748px;
}

.panneau-entete, .panneau-nom-illustration {
    width: 100%;
}

.panneau-logo-tela {
    width: 256px;
    display: inline-block;
    margin-left: 65px;
	margin-top: 50px;
}

.panneau-titre {
    color: #a6a08a;
    display: inline-block;
    font-family: sans-serif;
    font-size: 90px;
    left: 350px;
    position: absolute;
    top: 106px;
    width: 100%;
    font-family: 'Muli', sans-serif;
}

.panneau-lettre-emphase {
	color: #E06D38;
	font-size: 130px;
}

.panneau-nom-sentier {
    display: inline-block;
    float: left;
    height: 250px;
    margin-top: 39px;
    width: 1120px;
    margin-left: 15px;
}

.panneau-fiche-sentier {
	position: relative;
	top: 0px;
	display: inline-block;
	float: left;
}

.panneau-fiche-sans-sentier {
	padding-left: 650px;
}

.panneau-qr-code {
   	display: inline-block;
    float: right;
    width: 350px;
    margin-top: 40px;
    margin-right: 75px;
}

.panneau-espece-nom {
	background-color: #91896E;
	color: #FFFFFF;
	height: 200px;
	padding-left: 390px;
}

.panneau-espece-nom-texte {
    bottom: -32px;
    position: relative;
}

.panneau-bande-1, .panneau-bande-2 {
	margin-top: 3px;
}

.panneau-bande-1 {
	background-color: #E06D38;
	height: 7px;
	margin-bottom: 4px;
}

.panneau-bande-2 {
	background-color: #C3D35D;
	height: 18px;
}

.panneau-conteneur-illustration {
    position: relative;
    width: 500px;
    height: 500px;
    top: -350px;
	margin-left: 65px;
    overflow: hidden;
}

.panneau-conteneur-illustration img {
	height: 500px;
	width: 500px;
}

.panneau-espece-illustration {
    display: block;
    margin: 0 auto; 
	height: 100%;
}

.panneau-espece-nom .panneau-nom-vernaculaire, .panneau-espece-nom .panneau-infos-scientifique {
	margin-left: 290px;
}

.panneau-infos-scientifique {
	font-size: 35px;
}

.panneau-nom-scientifique {
	font-style: italic;
	font-family: 'Crimson Text', serif;
}

.panneau-nom-vernaculaire {
	font-size: 85px;
	font-weight: bold;
	font-family: 'Muli', sans-serif;
	padding-right: 80px;
}

.panneau-description {
    font-size: 35px;
   	margin-left: 65px;
    margin-right: 65px;
    position: relative;
    text-align: justify;
    top: -335px;
    color: #54575C;
    max-height: 685px;
    font-family: 'Muli', sans-serif;
}

.panneau-description-normale {
	font-size: 35px;
}

.panneau-description-grande {
	font-size: 25px;
}

.panneau-description-tres-grande {
	font-size: 20px;
}

.panneau-pied {
	float: right;
	position: absolute;
	bottom: 10px;
	right: 75px;
}

.panneau-logo {
	height: 170px;
	margin-left: 35px;
}

hr.separation-entete {
	margin-bottom: 50px;
}

hr.nettoyage {
	clear:both;
	visibility: hidden;
}