<!-- FORMULAIRE D'ÉDITION D'UNE FICHE -->
<div id="formulaire-edition-fiche" ng-show='etat == "edition"' ng-controller="EditionControleur as editionCtrl">
	<a class="retour-liste-fiches" href="#" ng-show="!editionCtrl.cacherLienRetour" ng-click='changerEtat("liste")'>Retour
		à la liste des fiches</a>
	<h2 class="titre-section">Édition de la fiche de l'espèce
		{{editionCtrl.fiche_edition.nom_sci}} ({{editionCtrl.fiche_edition.referentiel}})</h2>

	<div class="section_wiki"
		ng-repeat="(titre, section) in editionCtrl.fiche_edition.sections">
		<h3>{{titre}}</h3>
		<div class="contenu_editable">
			<div id="{{titre}}" class="wikini editable_sur_clic"
				ng-bind-html="editionCtrl.trustAsHtml(section)"
				ng-hide="editionCtrl.fiche_edition.section_edition.titre == titre"
				ng-dblclick="editionCtrl.afficherFormEditionSection(editionCtrl.fiche_edition, titre)"></div>
			<div class="formulaire_edition"
				ng-show="editionCtrl.fiche_edition.section_edition.titre == titre">
				<textarea class="champ_edition_wiki"
					ng-model="editionCtrl.fiche_edition.section_edition.html_brut"></textarea>
				<button type="button"
					ng-click="editionCtrl.validerEditionSection(editionCtrl.fiche_edition, titre)">OK</button>
				<button type="button"
					ng-click="editionCtrl.annulerEditionSection(editionCtrl.fiche_edition, titre)">Annuler</button>
			</div>
		</div>
	</div>
</div>