<!-- LISTE DES FICHES -->
<div id="liste-favoris" ng-show='(etat == "liste" || etat == "")' ng-controller="FavorisControleur as favorisCtrl">
	<div ng-show="favorisCtrl.afficherFavoris" class="liste-favoris">
		<h2 class="titre-section">Mes fiches Smart'Flore favorites</h2>
		<div id="conteneur" class="container-fluid">

			<div>

				<div class="row" ng-show="favorisCtrl.fiches.length > 0">
					<table class="table table-striped table-bordered table-condensed" colonne-collapsible visible="false">
						<tbody>
							<tr>
								<th>Noms vernaculaires</th>
								<th>Nom scientifique</th>
								<th class="colonne-collapsible">Référentiel</th>
								<th class="colonne-collapsible">Révisions</th>
								<th class="colonne-actions-fiche">Actions</th>
							</tr>
							<tr ng-repeat="fiche in favorisCtrl.fiches"
								class="fiche-favoris {{fiche.existe ? 'fiche-existante' : 'fiche-inexistante'}}"
								drag="fiche" dragStyle="element-draggable">
								<td>{{fiche.infos_taxon.noms_vernaculaires.slice(0,3).join(', ')}}</td>
								<td>
									<a class="lien-fiche-eflore" target="_blank" title="Voir la fiche eFlore"
									   href="http://www.tela-botanica.org/{{fiche.infos_taxon.referentiel | lowercase}}-nn-{{fiche.infos_taxon.num_nom}}">{{fiche.infos_taxon.nom_sci}}
									</a>
								</td>
								<td class="colonne-collapsible">{{fiche.infos_taxon.referentiel}}</td>
								<td class="colonne-collapsible">{{fiche.nb_revisions}}</td>
								<td class="colonne-actions-fiche">
									<button type="button" class="btn btn-default btn-sm"
										title="{{fiche.existe ? 'Éditer cette fiche' : 'Créer cette fiche'}}"
										ng-click="favorisCtrl.editerFiche(fiche)">
										<span
											class="glyphicon {{fiche.existe ? 'glyphicon-edit' : 'glyphicon-plus'}}"
											aria-hidden="true"></span>
									</button>
									<a class="btn btn-default btn-sm"
										title="Voir cette fiche" target="_blank"
										href="{{favorisCtrl.liensService.lienFicheMobile(fiche)}}">
										<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
									</a>
									<a class="btn btn-default btn-sm"
										title="Voir le code QR de cette fiche" target="_blank"
										href="{{favorisCtrl.liensService.lienQrCode(fiche)}}">
										<span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
									</a>
									<a class="btn btn-default btn-sm"
										title="Exporter cette fiche en pdf"
										ng-show="fiche.existe"
										href="{{favorisCtrl.liensService.exporterFicheEnPdf(fiche, '')}}">
										<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
									</a>
									<button type="button" class="btn btn-default btn-sm"
										title="Supprimer cette fiche des favoris"
										ng-click="favorisCtrl.supprimerFavoris(fiche)">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row" ng-show="favorisCtrl.fiches.length == 0 && !chargement">
					Aucune fiche favorite</div>
			</div>
		</div>
	</div>
</div>
