<!-- LISTE DES FICHES -->
<div id="liste-fiches" ng-show='(etat == "liste" || etat == "")' ng-controller="ListeControleur as listeCtrl">
	<h2 class="titre-section">Rechercher des fiches Smart'Flore</h2>
	<div id="conteneur" class="container-fluid">
	
		<!-- MOTEUR DE RECHERCHE -->
		<moteurrecherche></moteurrecherche>

		<!-- PAGINATION  DE LA LISTE -->	
		<pagination></pagination>

		<div ng-show="!chargement">

			<div class="row" ng-show="listeCtrl.fiches.length > 0">
				<table class="table table-striped table-bordered table-condensed">
					<tr>
						<th>Nom scientifique</th>
						<th>Numéro nomenclatural</th>
						<th>Référentiel</th>
						<th>Auteur</th>
						<th>Révisions</th>
						<th>Actions</th>
					</tr>
					<tr ng-repeat="fiche in listeCtrl.fiches"
						class="{{fiche.existe ? 'fiche-existante' : 'fiche-inexistante'}} {{!fiche.infos_taxon ? 'fiche-nt-inexistant' : ''}}">
						<td>{{fiche.infos_taxon.nom_sci}}</td>
						<td>{{fiche.infos_taxon.num_nom}}</td>
						<td>{{fiche.infos_taxon.referentiel}}</td>
						<td>{{fiche.user}}</td>
						<td>{{fiche.nb_revisions}}</td>
						<td>
							<button type="button" class="btn btn-default btn-sm"
								title="{{fiche.existe ? 'Éditer cette fiche' : 'Créer cette fiche'}}"
								ng-click="listeCtrl.editerFiche(fiche)">
								<span
									class="glyphicon {{fiche.existe ? 'glyphicon-edit' : 'glyphicon-plus'}}"
									aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default btn-sm"
								title="Voir cette fiche" 
								ng-click="listeCtrl.liensService.ouvrirFicheMobile(fiche)">
								<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default btn-sm"
								title="Voir le qr code de cette fiche"
								ng-click="listeCtrl.liensService.ouvrirQrCode(fiche)">
								<span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default btn-sm"
								title="{{fiche.favoris ? 'Supprimer cette fiche des favoris' : 'Mettre cette fiche en favoris'}}"
								ng-show="listeCtrl.afficherFavoris && fiche.existe"
								ng-click="listeCtrl.ajouterFavoris(fiche)">
								<span class="glyphicon {{fiche.favoris ? 'fiche-favorite glyphicon-star' : 'glyphicon-star-empty'}}" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</table>
			</div>
			<div class="row" ng-show="listeCtrl.fiches.length == 0 && !chargement">
				Aucune fiche ne correspond à la recherche</div>
		</div>
	</div>
	
	<listefavoris class="col-md-6"></listefavoris>
</div>