<!-- LISTE DES FICHES -->
<div id="liste-fiches" ng-show='(etat == "liste" || etat == "")' ng-controller="ListeControleur as listeCtrl">
	<div class="marge-gauche-15">
		<span slide-toggle="#liste-fiches-interieur" duration="500" title="Afficher/Cacher ce panneau">
			<h2 class="titre-section">Rechercher des fiches Smart'Flore </h2>
			<button type="button" class="btn btn-default btn-sm bouton-afficher-cacher">
				<span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
			</button>
		</span>
	</div>

	<div id="liste-fiches-interieur" class="container-fluid">

		<!-- MOTEUR DE RECHERCHE -->
		<moteurrecherche></moteurrecherche>

		<!-- PAGINATION  DE LA LISTE -->
		<pagination></pagination>

		<div ng-show="!chargement">
			<div class="row" ng-show="listeCtrl.fiches.length > 0">
				<table class="liste-fiches-generale table table-striped table-bordered table-condensed" colonne-collapsible visible="false">
					<tr>
						<th>Noms vernaculaires</th>
						<th>Nom scientifique</th>
						<th class="colonne-collapsible">Numéro nomenclatural</th>
						<th class="colonne-collapsible">Référentiel</th>
						<th class="colonne-collapsible">Auteur</th>
						<th class="colonne-collapsible">Révisions</th>
						<th class="colonne-actions-fiche">Actions</th>
					</tr>
					<tr drag="fiche" dragStyle="element-draggable" ng-repeat="fiche in listeCtrl.fiches"
						class="{{fiche.existe ? 'fiche-existante' : 'fiche-inexistante'}} {{!fiche.infos_taxon ? 'fiche-nt-inexistant' : ''}}">
						<td>{{fiche.infos_taxon.noms_vernaculaires.slice(0,3).join(', ')}}</td>
						<td>
							<a class="lien-fiche-eflore" target="_blank" title="Voir la fiche eFlore"
							   href="http://www.tela-botanica.org/{{fiche.infos_taxon.referentiel | lowercase}}-nn-{{fiche.infos_taxon.num_nom}}">{{fiche.infos_taxon.nom_sci}}
							</a>
						</td>
						<td class="colonne-collapsible">{{fiche.infos_taxon.num_nom}}</td>
						<td class="colonne-collapsible">{{fiche.infos_taxon.referentiel}}</td>
						<td class="colonne-collapsible">{{fiche.user}}</td>
						<td class="colonne-collapsible">{{fiche.nb_revisions}}</td>
						<td>
							<button type="button" class="btn btn-default btn-sm"
								title="{{fiche.existe ? 'Éditer cette fiche' : 'Créer cette fiche'}}"
								ng-show="listeCtrl.afficherFonctionsUtilisateurIdentifie"
								ng-click="listeCtrl.editerFiche(fiche)">
								<span
									class="glyphicon {{fiche.existe ? 'glyphicon-edit' : 'glyphicon-plus'}}"
									aria-hidden="true"></span>
							</button>
							<a class="btn btn-default btn-sm"
								title="Voir cette fiche" target="_blank"
								href="{{listeCtrl.liensService.lienFicheMobile(fiche)}}">
								<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
							</a>
							<a class="btn btn-default btn-sm"
								title="Voir le code QR de cette fiche" target="_blank"
								href="{{listeCtrl.liensService.lienQrCode(fiche)}}">
								<span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
							</a>
							<a class="btn btn-default btn-sm"
								title="Exporter cette fiche en pdf"
								ng-show="fiche.existe"
								href="{{listeCtrl.liensService.exporterFicheEnPdf(fiche, '')}}">
								<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
							</a>
							<button type="button" class="btn btn-default btn-sm"
								title="{{fiche.favoris ? 'Supprimer cette fiche des favoris' : 'Mettre cette fiche en favoris'}}"
								ng-show="listeCtrl.afficherFonctionsUtilisateurIdentifie && fiche.existe"
								ng-click="listeCtrl.ajouterFavoris(fiche)">
								<span class="glyphicon {{fiche.favoris ? 'fiche-favorite glyphicon-star' : 'glyphicon-star-empty'}}" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</table>
			</div>
			<div class="row" ng-show="listeCtrl.fiches.length == 0 && !chargement">
				Aucune fiche ne correspond à la recherche</div>
		</div>
	</div>

	<listefavoris class="col-md-6 bloc-liste" ng-show="!chargement"></listefavoris><sentiers class="col-md-6 bloc-liste" ng-show="!chargement"></sentiers>
</div>
