<!-- PAGINATION  DE LA LISTE -->
<div ng-show="paginationCtrl.afficherPagination" ng-controller="PaginationControleur as paginationCtrl">
	<div class="pagination-total ng-cloak">
		<span class="ng-cloak">Affichage des {{paginationCtrl.nomElementTrouve}}
			{{paginationCtrl.getBorneMinIntervalleAffiche()}} à
			{{paginationCtrl.getBorneMaxIntervalleAffiche()}} sur un total de {{paginationCtrl.totalResultats}}
			<span ng-show="paginationCtrl.totalResultats == 1"> {{paginationCtrl.nomElementTrouveSingulier}}</span> 
			<span ng-show="paginationCtrl.totalResultats > 1"> {{paginationCtrl.nomElementTrouvePluriel}}</span>
		</span>
	</div>

	<ul class="pagination">
		<li class="{{paginationCtrl.pageCourante == 0 ? 'disabled' : ''}}"><a href="#"
			aria-label="Previous" ng-click="paginationCtrl.pagePrecedente()"> <span
				aria-hidden="true">&laquo;</span>
		</a></li>
		<li ng-repeat="page in paginationCtrl.pages track by $index"
			class="{{paginationCtrl.pageCourante == page - 1 ? 'active' : ''}} {{page == '...' ? 'disabled' : ''}}">
			<a href="#" ng-click="paginationCtrl.changerPage(page)"> {{page}} </a>
		</li>
		<li class="{{pageCourante == paginationCtrl.nbPages - 1 ? 'disabled' : ''}}"><a
			href="#" aria-label="Previous" ng-click="paginationCtrl.pageSuivante()"> <span
				aria-hidden="true">&raquo;</span>
		</a></li>
	</ul>
	
	<span class="pagination-taille-page">Afficher <select name="taillePage" id="taillePage" class="form-control"
						ng-model="paginationCtrl.taillePage"
						ng-change="paginationCtrl.surChangementTaillePage()"
						ng-options="taillePage for taillePage in paginationCtrl.taillesPages">
					</select> {{paginationCtrl.nomElementTrouve}} par page
	</span>
</div>