<!-- LISTE DES SENTIERS -->
<div id="liste-sentiers" ng-show='(etat == "liste" || etat == "")' ng-controller="SentiersControleur as sentiersCtrl">
	<div ng-show="sentiersCtrl.afficherSentiers" class="liste-sentiers">
		<h2 class="titre-section">Mes sentiers</h2>
		<div id="conteneur" class="container-fluid">

			<div>

				<form id="sentier-search" name="search" class="form-group col-md-12"
					ng-if="sentiersCtrl.estAdmin()">

					<div class="col-md-3">
						<select name="filtre" id="filtre" class="form-control" ng-init="sentiersCtrl.filtre = sentiersCtrl.filtres[0]"
							ng-model="sentiersCtrl.filtre"
							ng-change="sentiersCtrl.selectionnerUnSentier()"
							ng-options="filtre.label for filtre in sentiersCtrl.filtres">
						</select>
					</div>

					<div class="col-md-6">
						<input type="text" id="file-search-input" name="query" class="form-control"
						placeholder="Rechercher un sentier"
						ng-change="sentiersCtrl.selectionnerUnSentier()"
						ng-model="sentiersCtrl.recherche">
					</div>

					<div class="col-md-3">
						<input type="text" name="compteur-sentiers" class="form-control" value="{{ (sentiersCtrl.sentiers | filter:sentiersCtrl.filtre.value | filter:sentiersCtrl.recherche).length }} sentiers trouvés" disabled>
					</div>
				</form>

				<div class="col-md-7 selecteur-sentier" ng-show="(sentiersCtrl.sentiers | filter:sentiersCtrl.filtre.value | filter:sentiersCtrl.recherche).length > 0">
					<div class="col-md-11">
						<select name="sentier" id="sentier" class="form-control"
							ng-model="sentiersCtrl.sentierSelectionne"
							ng-change="sentiersCtrl.surChangementSentier()"
							ng-options="sentier.label for sentier in sentiersCtrl.sentiers | filter:sentiersCtrl.filtre.value | filter:sentiersCtrl.recherche | orderBy:['auteur','titre']">
						</select>
					</div>

					<div class="bouton-export-sentiers col-md-1" ng-if="sentiersCtrl.estAdmin() && sentiersCtrl.sentierSelectionne">
						<a class="btn btn-default btn-sm"
							title="Exporter les sentiers en csv"
							onmouseenter="$(this).tooltip('show')" data-placement="top"
							ng-click="sentiersCtrl.exporterSentiersEnCsv(listeCtrl.liensService.exporterSentiersEnCsv())">
							<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
						</a>
					</div>
				</div>

					<!-- <select name="sentier" id="sentier" class="form-control"
						ng-model="sentiersCtrl.sentierSelectionne"
						ng-change="sentiersCtrl.surChangementSentier()">
						<option ng-repeat="sentier in sentiersCtrl.sentiers">
							<span ng-bind-html="sentiersCtrl.labelIcon"></span> {{ sentier.label }}
						</option>
					</select> -->

				<form ng-submit="sentiersCtrl.ajouterSentier()" class="col-md-5">
					<div class="col-md-10">
						<input type="text" class="form-control"
							placeholder="Ajouter un sentier" ng-model="sentiersCtrl.nouveauSentierTitre"
							ng-change="rechercheCtrl.surChangementSaisieSentier()">
					</div>
					<div class="col-md-2 bouton-ajout-sentier">
						<button type="submit" class="btn btn-default btn-sm" title="Ajouter un sentier">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</div>
				</form>

			</div>

			<hr class="nettoyage" />

			<!-- MASQUE DE CHARGEMENT -->
			<masquechargement ng-show="sentiersCtrl.chargementSentier"></masquechargement>

			<div class="liste-fiches-sentier" ng-show="!sentiersCtrl.chargementSentier && sentiersCtrl.sentierSelectionne.titre">
				<div class="bouton-suppression-sentier" ng-show="!sentiersCtrl.sentierSelectionne.dateSuppression">
					<button ng-click="sentiersCtrl.supprimerSentier(sentiersCtrl.sentierSelectionne)"
						type="button" class="btn btn-default btn-md"
						title="Supprimer ce sentier"
						onmouseenter="$(this).tooltip('show')" data-placement="top">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</button>
				</div>

				<div class="bouton-ressusciter-sentier" ng-if="sentiersCtrl.estAdmin() && sentiersCtrl.sentierSelectionne.dateSuppression">
					<button ng-click="sentiersCtrl.ressusciterSentier(sentiersCtrl.sentierSelectionne)"
						type="button" class="btn btn-success btn-md"
						title="Ressusciter (rétablir) ce sentier"
						onmouseenter="$(this).tooltip('show')" data-placement="top">
						<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
					</button>
				</div>

				<div class="bouton-export-sentier" ng-show="sentiersCtrl.sentierSelectionne.fiches.length > 0">
					<a class="btn btn-default btn-sm"
						title="Exporter ce sentier en pdf"
						onmouseenter="$(this).tooltip('show')" data-placement="top"
						href="{{ listeCtrl.liensService.exporterSentierEnPdf(sentiersCtrl.sentierSelectionne.titre) }}">
						<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
					</a>
				</div>

				<div id="bouton-localiser-sentier">
					<button ng-click="sentiersCtrl.demarrerLocalisationSentier(); sentiersCtrl.modalOpened = !sentiersCtrl.modalOpened"
						type="button" class="btn btn-default btn-md"
						title="Localiser ce sentier"
						onmouseenter="$(this).tooltip('show')" data-placement="top">
						<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
					</button>
				</div>

				<div id="bouton-meta-sentier">
					<button ng-click="sentiersCtrl.saisirMetaSentier(); sentiersCtrl.modalOpened = !sentiersCtrl.modalOpened"
						type="button" class="btn btn-default btn-md"
						title="Saisir les informations de ce sentier"
						onmouseenter="$(this).tooltip('show')" data-placement="top">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					</button>
				</div>

				<div id="bouton-invalider-sentier" ng-if="sentiersCtrl.estAdmin() && (['En attente', 'Validé'].indexOf(sentiersCtrl.sentierSelectionne.etat) > -1)">
					<button ng-click="sentiersCtrl.changerEtatSentier('Refusé')"
						type="button" class="btn btn-default btn-md"
						title="Invalider ce sentier"
						onmouseenter="$(this).tooltip('show')" data-placement="top">
						<span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
					</button>
				</div>

				<div id="bouton-valider-sentier" ng-if="sentiersCtrl.estAdmin() && sentiersCtrl.sentierSelectionne.etat == 'En attente'">
					<button ng-click="sentiersCtrl.changerEtatSentier('Validé')"
						type="button" class="btn btn-default btn-md"
						title="Valider ce sentier"
						onmouseenter="$(this).tooltip('show')" data-placement="top">
						<span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
					</button>
				</div>

				<div class="sentier-aucune-fiche col-md-8">
					<h4 class="titre-sentier">{{sentiersCtrl.sentierSelectionne.titre}}</h4> :
					<ng-pluralize count="sentiersCtrl.sentierSelectionne.fiches.length"
						when="{ '0': 'Pas de fiche dans le sentier',
								'1': 'Une fiche dans le sentier',
								'other': '{} fiches dans le sentier' }">
					</ng-pluralize>
					-
					<ng-pluralize count="sentiersCtrl.sentierSelectionne.localisation.nbIndividus"
						when="{	'0': 'Pas d\'individu localisé',
								'1': 'Un individu localisé',
								'other': '{} individus localisés'}">
					</ng-pluralize>
					<br>
					<span ng-if="sentiersCtrl.sentierSelectionne.etat">État : {{ sentiersCtrl.sentierSelectionne.etat }}</span>
					<span ng-if="!sentiersCtrl.sentierSelectionne.etat">État : Localisation incomplète</span>

					<h5 class="createur-sentier">
						<span ng-if="sentiersCtrl.estAdmin()">Créé par <a href="mailto:{{ sentiersCtrl.sentierSelectionne.auteurEmail }}">{{ sentiersCtrl.sentierSelectionne.auteur }}</a></span>
						<span ng-if="!sentiersCtrl.estAdmin()">Créé par {{ sentiersCtrl.sentierSelectionne.auteur }}</span>
						le {{ sentiersCtrl.sentierSelectionne.dateCreation * 1000 | date:'dd/MM/yyyy' }}

						<span ng-show="sentiersCtrl.sentierSelectionne.dateDerniereModif !== sentiersCtrl.sentierSelectionne.dateCreation">
							(dernière modif. le {{ sentiersCtrl.sentierSelectionne.dateDerniereModif * 1000 | date:'dd/MM/yyyy' }})
						</span>
					</h5>
				</div>

				<div class="row table-fiches-sentier">
					<table class="table table-striped table-bordered table-condensed" colonne-collapsible visible="false">
						<tr>
							<th>Noms vernaculaires</th>
							<th>Nom scientifique</th>
							<th class="colonne-collapsible">Référentiel</th>
							<th class="colonne-collapsible">Révisions</th>
							<th class="colonne-actions-fiche">Actions</th>
						</tr>
						<tr class="zone-drop-fiches-sentier" >
							<td colspan="4" drop="true" dropStyle="element-droppable" > Glissez-déposez des fiches depuis les favoris ou la liste </td>
						</tr>
						<tr ng-show="sentiersCtrl.sentierSelectionne.fiches.length > 0" ng-repeat="fiche in sentiersCtrl.sentierSelectionne.fiches"
							class="fiche-sentiers {{fiche.existe ? 'fiche-existante' : 'fiche-inexistante'}}">
							<td>{{fiche.infos_taxon.noms_vernaculaires.slice(0,3).join(', ')}}</td>
							<td>
								<a class="lien-fiche-eflore" target="_blank" title="Voir la fiche eFlore"
								   href="http://www.tela-botanica.org/{{fiche.infos_taxon.referentiel | lowercase}}-nn-{{fiche.infos_taxon.num_nom}}">{{fiche.infos_taxon.nom_sci}}
								</a>
							</td>
							<td class="colonne-collapsible">{{fiche.infos_taxon.referentiel}}</td>
							<td class="colonne-collapsible">{{fiche.nb_revisions}}</td>
							<td class="colonne-actions-fiche">
								<button type="button" class="btn btn-default btn-sm"
									title="{{fiche.existe ? 'Éditer cette fiche' : 'Créer cette fiche'}}"
									ng-click="sentiersCtrl.editerFiche(fiche)">
									<span
										class="glyphicon {{fiche.existe ? 'glyphicon-edit' : 'glyphicon-plus'}}"
										aria-hidden="true"></span>
								</button>
								<a class="btn btn-default btn-sm"
									title="Voir cette fiche" target="_blank"
									href="{{sentiersCtrl.liensService.lienFicheMobile(fiche)}}">
									<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
								</a>
								<a class="btn btn-default btn-sm"
									title="Voir le code QR de cette fiche" target="_blank"
									href="{{sentiersCtrl.liensService.lienQrCode(fiche)}}">
									<span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
								</a>
								<a class="btn btn-default btn-sm"
									title="Exporter cette fiche en pdf"
									ng-show="fiche.existe"
									href="{{sentiersCtrl.liensService.exporterFicheEnPdf(fiche, sentiersCtrl.sentierSelectionne.titre)}}">
									<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
								</a>
								<button type="button" class="btn btn-default btn-sm"
									title="Supprimer cette fiche du sentier"
									ng-click="sentiersCtrl.supprimerFicheASentier(sentiersCtrl.sentierSelectionne, fiche)">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div ng-show="sentiersCtrl.sentiers.length == 0" >
				Aucun sentier existant
			</div>

			<!-- modale de localisation -->
			<div id="modalet" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header">
					<h4 id="titre-modal-localisation" class="modal-title">{{ sentiersCtrl.titreModal }}</h4>
				  </div>
				  <div class="modal-body">
					<div class="flex-container">
						<div ng-if="sentiersCtrl.choixAdresses.length > 1 && sentiersCtrl.etape == 'localiser-sentier'"
							id="choix-adresses"
							class="btn-group-vertical pull-left flex1" role="group" aria-label="choix adresse">
							<button ng-repeat="adresse in sentiersCtrl.choixAdresses"
								ng-click="sentiersCtrl.selectAdresse(adresse)"
								type="button" class="btn btn-default">
								{{ adresse.formatted_address }}
							</button>
						</div>

						<leaflet class="leaflet-flex"
							lf-center="sentiersCtrl.leafletConfig.center"
							markers="sentiersCtrl.leafletConfig.markers"
							layers="sentiersCtrl.leafletConfig.layers"
							height="480" width="auto">
						</leaflet>

						<div ng-if="sentiersCtrl.sentierSelectionne.fiches.length > 0 && sentiersCtrl.etape == 'localiser-individus'"
							id="liste-individus"
							class="btn-group-vertical pull-right flex1" role="group" aria-label="individus à localiser">
							<button
								ng-repeat="fiche in sentiersCtrl.sentierSelectionne.fiches"
								ng-click="sentiersCtrl.ajouterMarker(fiche)"
								type="button" class="btn btn-default"
								onmouseenter="$(this).tooltip('show')" data-placement="left" title="{{ fiche.infos_taxon.nom_sci_complet }}">{{ fiche.infos_taxon.nom_sci }}
							</button>
						</div>
					</div>
				  </div>
				  <div class="modal-footer">
					<div ng-if="sentiersCtrl.etape == 'localiser-sentier'" class="pull-left form-inline">
						<div ng-hide="sentiersCtrl.methodeLocalisation != 'adresse'" class="inline-block">
							<input type="text" class="form-control" ng-model="adresse" placeholder="Ex: rue du Sentier, 75042 Paris">
							<button ng-click="sentiersCtrl.recupererLocaliteAdresse(adresse)" class="btn btn-default">Chercher l'adresse</button>
						</div>
						<button ng-click="sentiersCtrl.recupererLocaliteAuto(); sentiersCtrl.methodeLocalisation = 'auto'" class="btn btn-default">
							<i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i> Localisation automatique
						</button>
						<button ng-show="sentiersCtrl.methodeLocalisation == 'auto'" ng-click="sentiersCtrl.methodeLocalisation = 'adresse'" class="btn btn-default">
							<i class="glyphicon glyphicon-search" aria-hidden="true"></i> Localiser par adresse
						</button>
					</div>

					<div ng-repeat="marker in sentiersCtrl.leafletConfig.markers | limitTo : 2">
						<div ng-if="sentiersCtrl.etape == 'localiser-individus' && (!$first && $last)" class="pull-left">
							<button ng-click="sentiersCtrl.toggleSuppressionMarkers()"
								ng-class="{ 'active': sentiersCtrl.modeSuppressionMarkers }"
								class="btn btn-warning"
								onmouseenter="$(this).tooltip('show')" data-placement="top" title="Active le mode suppression">
								Supprimer des marqueurs
							</button>
							<i ng-show="sentiersCtrl.modeSuppressionMarkers">Cliquez sur un marqueur pour le supprimer</i>
						</div>
					</div>
					<div ng-if="sentiersCtrl.etape == 'dessin-sentier'" class="pull-left">
						<button ng-click="sentiersCtrl.supprimerDessin()"
							ng-if="sentiersCtrl.dessinSentier"
							class="btn btn-warning"
							onmouseenter="$(this).tooltip('show')" data-placement="top" title="Supprime le tracé actuel du parcours">
							Supprimer le parcours
						</button>
						<button ng-click="sentiersCtrl.revertChangementsDessin()"
							ng-if="sentiersCtrl.dessinModifie && sentiersCtrl.dessinSentierAvantModif"
							class="btn btn-warning"
							onmouseenter="$(this).tooltip('show')" data-placement="top" title="Annule les modifications au parcours">
							Annuler les modifications
						</button>
					</div>
					<button ng-click="sentiersCtrl.changerBaselayer('gmaps')"
						ng-class="{ 'active': (sentiersCtrl.layerActif == 'gmaps') }"
						type="button" class="btn btn-default">
						GoogleMaps
					</button>
					<button ng-click="sentiersCtrl.changerBaselayer('osm')"
						ng-class="{ 'active': (sentiersCtrl.layerActif == 'osm') }"
						type="button" class="btn btn-default">
						OpenStreetMap
					</button>

					<div ng-if="['localiser-sentier', 'localiser-individus'].indexOf(sentiersCtrl.etape) > -1">
						<form name="coords" class="form-inline"
							ng-show="sentiersCtrl.markerActif || sentiersCtrl.etape == 'localiser-sentier'"
							ng-submit="sentiersCtrl.rafraichirMarkerActif()">
							<hr>
							<div class="form-group" ng-class="{'has-error': coords.input.$invalid}">
								<input type="text" id="input" name="input" placeholder="xx.xxxx, xx.xxxx"
									ng-model="sentiersCtrl.saisieCoordGps.txt"
									ng-pattern="sentiersCtrl.regexpCoordsGps"
									class="form-control" size=35 autocomplete="off"
									onmouseenter="$(this).tooltip('show')" data-placement="top" title="Formats acceptés : &quot;[lng, lat]&quot; ou &quot;lat, lng&quot;">
							</div>
							<button class="btn btn-default" type="submit"
								ng-disabled="!sentiersCtrl.saisieCoordGps.txt || sentiersCtrl.saisieCoordGps.txt.length == 0 || coords.input.$invalid">
								<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Valider coordonnées GPS
							</button>
						</form>
					</div>

					<hr>

					<button ng-if="sentiersCtrl.etape == 'localiser-individus'"
						ng-click="sentiersCtrl.retourLocalisationSentier()"
						type="button" class="btn btn-default pull-left">
						Retour
					</button>
					<button ng-click="sentiersCtrl.annuler()"
						type="button" class="btn btn-default">
						Annuler
					</button>
					<button ng-if="sentiersCtrl.etape == 'localiser-sentier'" ng-disabled="!sentiersCtrl.leafletConfig.markers.sentier"
						ng-click="sentiersCtrl.validerLocalisationSentier()"
						type="button" class="btn btn-primary" disabled>
						Valider la localisation du sentier
					</button>
					<button ng-if="sentiersCtrl.etape == 'localiser-individus'"
						ng-click="sentiersCtrl.validerLocalisationIndividus()"
						type="button" class="btn btn-primary">
						Valider la localisation des individus
					</button>
					<button ng-if="sentiersCtrl.etape == 'dessin-sentier'"
						ng-disabled="sentiersCtrl.dessinEnCours"
						ng-click="sentiersCtrl.terminerLocalisation()"
						type="button" class="btn btn-primary">
						Enregistrer le sentier
					</button>
				  </div>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- modale de publication des données -->
			<div id="modale-publication" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Publier le sentier ?</h4>
				  </div>
				  <div class="modal-body">
					<p>Votre sentier semble prêt à être publié. Cependant, une validation manuelle est nécessaire avant qu'il soit visible sur l'application Smart'Flore.</p>
					<p>Les personnes responsables seront prévenues et passeront en revue votre sentier.&nbsp;</p>
					<p>
						<label for="charteOk">En cochant cette case vous reconnaissez que votre sentier est conforme à la <a href="charte.html" target="_blank">Charte de publication de sentiers Smart'Flore</a> :
							<input type="checkbox" id="charteOk" ng-model="sentiersCtrl.charteOk" name="charte" value="charte">
						</label>
					</p>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Plus tard</button>
					<button ng-click="sentiersCtrl.changerEtatSentier()" ng-disabled="!sentiersCtrl.charteOk" type="button" class="btn btn-primary">Soumettre le sentier</button>
				  </div>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- modale de saisies des meta d'un sentier -->
			<div id="modale-meta-sentier" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Informations</h4>
				  </div>
				  <div class="modal-body">
					<div class="form-group">
						<label for="nomSentier">Nom public du sentier <i class="glyphicon glyphicon-info-sign" onmouseenter="$(this).tooltip('show')" data-placement="top" title="Information utilisée pour la publication du sentier"></i></label>
						<input type="text" class="form-control" id="nomSentier"  name="nomSentier"
							ng-model="sentiersCtrl.sentierSelectionne.meta.titre">
					</div>
					<div class="form-group">
						<label for="auteurSentier">Auteur public du sentier <i class="glyphicon glyphicon-info-sign" onmouseenter="$(this).tooltip('show')" data-placement="top" title="Information utilisée pour la publication du sentier"></i></label>
						<input type="text" class="form-control" id="auteurSentier" name="auteurSentier"
							ng-model="sentiersCtrl.sentierSelectionne.meta.auteur" placeholder="{{ sentiersCtrl.sentierSelectionne.meta.auteur }}">
					</div>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
					<button ng-click="sentiersCtrl.enregistrerMetaSentier()" type="button" class="btn btn-primary">Valider</button>
				  </div>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
</div>
