<!-- LISTE DES SENTIERS -->
<div id="liste-sentiers" ng-show='(etat == "liste" || etat == "")' ng-controller="SentiersControleur as sentiersCtrl">
	<div ng-show="sentiersCtrl.afficherSentiers" class="liste-sentiers">
		<h2 class="titre-section">Mes sentiers</h2>
		<div id="conteneur" class="container-fluid">
		
			<div>
				<div class="col-md-6 selecteur-sentier" ng-show="sentiersCtrl.sentiers.length > 0">
					<select name="sentier" id="sentier" class="form-control"
						ng-model="sentiersCtrl.sentierSelectionne"
						ng-change="sentiersCtrl.surChangementSentier()"
						ng-options="sentier.titre for sentier in sentiersCtrl.sentiers">
					</select>
				</div>
			
				<form ng-submit="sentiersCtrl.ajouterSentier()" class="col-md-6">
					<div class="col-md-10">
						<input type="text" class="form-control"
							placeholder="Ajouter un sentier" ng-model="sentiersCtrl.nouveauSentierTitre"
							ng-change="rechercheCtrl.surChangementSaisieSentier()">
					</div>
					<div class="col-md-2 bouton-ajout-sentier">
						<button type="submit" class="btn btn-default btn-sm" title="ajouter un sentier">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</div>
				</form>
			</div>
			
			<hr class="nettoyage" />
		
			<!-- MASQUE DE CHARGEMENT -->
			<masquechargement ng-show="sentiersCtrl.chargementSentier"></masquechargement>
		
			<div class="liste-fiches-sentier" ng-show="!sentiersCtrl.chargementSentier && sentiersCtrl.sentiers.length > 0" >			
				<div class="bouton-suppression-sentier" ng-show="sentiersCtrl.sentierSelectionne.auteur = sentiersCtrl.utilisateurNomWiki" >
					<button ng-click="sentiersCtrl.supprimerSentier(sentiersCtrl.sentierSelectionne)" type="button" class="btn btn-default btn-md" title="supprimer ce sentier">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</div>
				
				<div class="bouton-export-sentier" ng-show="sentiersCtrl.sentierSelectionne.auteur = sentiersCtrl.utilisateurNomWiki && sentiersCtrl.sentierSelectionne.fiches.length > 0" >
					<a class="btn btn-default btn-sm"
						title="Exporter le sentier en pdf"
						href="{{listeCtrl.liensService.exporterSentierEnPdf(sentiersCtrl.sentierSelectionne.titre)}}">
						<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
					</a>
				</div>
				
				<div class="sentier-aucune-fiche col-md-8">
					<h4 class="titre-sentier">{{sentiersCtrl.sentierSelectionne.titre}}</h4> : 
					{{sentiersCtrl.sentierSelectionne.fiches.length <= 1 ?
						sentiersCtrl.sentierSelectionne.fiches.length+' fiche dans le sentier' : 
						sentiersCtrl.sentierSelectionne.fiches.length+' fiches dans le sentier'
					}}
					<h5 class="createur-sentier">Créé par {{sentiersCtrl.sentierSelectionne.auteur}}</h5>
				</div>
			
				<div class="row table-fiches-sentier">
					<table class="table table-striped table-bordered table-condensed" colonne-collapsible visible="false">
						<tr>
							<th>Noms vernaculaires</th>
							<th>Nom scientifique</th>
							<th class="colonne-collapsible">Référentiel</th>
							<th class="colonne-collapsible">Révisions</th>
							<th class="colonne-actions-fiche">Actions</th>
						</tr>
						<tr class="zone-drop-fiches-sentier" >
							<td colspan="4" drop="true" dropStyle="element-droppable" > Glissez-déposez des fiches depuis les favoris ou la liste </td>
						</tr>
						<tr ng-show="sentiersCtrl.sentierSelectionne.fiches.length > 0" ng-repeat="fiche in sentiersCtrl.sentierSelectionne.fiches"
							class="fiche-sentiers {{fiche.existe ? 'fiche-existante' : 'fiche-inexistante'}}">
							<td>{{fiche.infos_taxon.noms_vernaculaires.slice(0,3).join(', ')}}</td>
							<td>
								<a class="lien-fiche-eflore" target="_blank" title="Voir la fiche eFlore"
								   href="http://www.tela-botanica.org/{{fiche.infos_taxon.referentiel | lowercase}}-nn-{{fiche.infos_taxon.num_nom}}">{{fiche.infos_taxon.nom_sci}}
								</a>
							</td>
							<td class="colonne-collapsible">{{fiche.infos_taxon.referentiel}}</td>
							<td class="colonne-collapsible">{{fiche.nb_revisions}}</td>
							<td class="colonne-actions-fiche">
								<button type="button" class="btn btn-default btn-sm"
									title="{{fiche.existe ? 'Éditer cette fiche' : 'Créer cette fiche'}}"
									ng-click="sentiersCtrl.editerFiche(fiche)">
									<span
										class="glyphicon {{fiche.existe ? 'glyphicon-edit' : 'glyphicon-plus'}}"
										aria-hidden="true"></span>
								</button>
								<a class="btn btn-default btn-sm"
									title="Voir cette fiche" target="_blank" 
									href="{{sentiersCtrl.liensService.lienFicheMobile(fiche)}}">
									<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
								</a>
								<a class="btn btn-default btn-sm"
									title="Voir le code QR de cette fiche" target="_blank"
									href="{{sentiersCtrl.liensService.lienQrCode(fiche)}}">
									<span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
								</a>
								<a class="btn btn-default btn-sm"
									title="Exporter cette fiche en pdf"
									ng-show="fiche.existe"
									href="{{sentiersCtrl.liensService.exporterFicheEnPdf(fiche, '')}}">
									<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
								</a>
								<button type="button" class="btn btn-default btn-sm"
									title="Supprimer cette fiche du sentier"
									ng-click="sentiersCtrl.supprimerFicheASentier(sentiersCtrl.sentierSelectionne, fiche)">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div ng-show="sentiersCtrl.sentiers.length == 0" >
				Aucun sentier existant
			</div>
		</div>
	</div>
</div>
